<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22C65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
				<string>psql</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQL File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sqlt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tableplusplugin</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>TablePlus Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>tbp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.tinyapp.TablePlus.plugin.bundle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sqlite</string>
				<string>db</string>
				<string>sqlite3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQLite File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tableplusconnection</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TablePlus Connection</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>tbc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.tinyapp.TablePlus.connection.bundle</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TablePlus</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.tinyapp.TablePlus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TablePlus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.tinyapp.TablePlus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tinyapp.TablePlus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MySQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mysql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostgreSQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgresql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostgreSQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgresql+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostgreSQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgres</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostgreSQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgres+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MySQL URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mysql+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SQL Server URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sqlserver</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SQL Server URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sqlserver+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SQL Server URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>microsoftsqlserver</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SQL Server URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>microsoftsqlserver+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tableplus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tableplus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Redis URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>redis</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Redis URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>redis+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Cockroach URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cockroach</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Cockroach URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cockroach+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Vertica URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vertica</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Vertica URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vertica+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Oracle URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oracle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Oracle URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oracle+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Mongo URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mongodb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Mongo URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mongodb+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Snowflake URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snowflake</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Snowflake URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snowflake+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MariaDB URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mariadb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MariaDB URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mariadb+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Redshift URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>redshift</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Redshift URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>redshift+ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Greenplum URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>greenplum</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Greenplum URL schema</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>greenplum+ssh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>472</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14B47b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.0</string>
	<key>DTSDKBuild</key>
	<string>22A372</string>
	<key>DTSDKName</key>
	<string>macosx13.0</string>
	<key>DTXcode</key>
	<string>1410</string>
	<key>DTXcodeBuild</key>
	<string>14B47b</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>MDItemKeywords</key>
	<string>tableplus,elephant,database tool,mysql,postgres,postgresql,microsoft sql server,redis,sqlite,redshift,mariadb</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2017-2022 TablePlus. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>Welcome</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://tableplus.com/osx/version.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>URL Schemes</key>
	<array>
		<string>tableplus://</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TablePlus Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.tinyapp.TablePlus.plugin.bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tableplusplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TablePlus Connection</string>
			<key>UTTypeIdentifier</key>
			<string>com.tinyapp.TablePlus.connection.bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tableplusconnection</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
